---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Jeff";

const identity = {
	firstName: "Jeff",
	country: "Mexico",
	occupation: "Educator",
	hobbies: ["math","reading about history","drawing"]
};

const skills = ["HTML", "CSS", "sed"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
const fontWeight = "italic";
const textCase = "uppercase";

---



<BaseLayout pageTitle={pageTitle}>

	<!--Commented out
	<head>
		<style 
			define:vars = {{skillColor}, {fontWeight}, {textCase}}
			>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	-->

	<style 
		define:vars = {{skillColor}, {fontWeight}, {textCase}}
		>
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	</style>

	<p>Here are some fun facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as an {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[2]} and {identity.hobbies[0]} </li>
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{
			skills.map(
			(skill) => <li class="skill">{skill}</li>
			)
		}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I am finished with this tutorial.</p>}
	{goal === 3 
		? 
			<p>My goal is to finish in 3 days.</p>
		:
			<p>My goal is to finish in more than 3 days.</p>
	}

</BaseLayout>
